<!--https://bootsnipp.com/snippets/featured/login-form-in-modal -->
<div class="container">
        <div class="row" id="main">
        <div class="panel panel-success " >
            <menubar></menubar> 
<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)" >
<div id="login-overlay" >
    <div class="panel panel-primary" style="width:750px;margin:0px auto">
    <div class="modal-content">
        <div class="modal-header">
             <h4 class="modal-title" id="myModalLabel">Login to site.com</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="well">
                     
                            <div class="form-group">
                                <label for="username" class="control-label">Username</label>
                               

                                 <input [(ngModel)]="formModel.email"
                                 id="email" type="email" class="form-control" name="email" value=""
                                 placeholder="example@gmail.com"  required autofocus/>

                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                               

                                <input  [(ngModel)]="formModel.password"
                                id="password" type="password" class="form-control" 
                                name="password" value=""
                                placeholder="********"  required />

                                <span class="help-block"></span>
                            </div>
                            <div id="loginErrorMsg" class="alert alert-error hide">Wrong username og password</div>
                            <div class="form-group">
                                <label class="control-label">
                                  </label>
                                  <re-captcha 
                                  [(ngModel)]="formModel.captcha"
                                  name="captcha"
                                  required
                                  siteKey="6LcZgCwUAAAAAPn1N1j7JD2ywG4LrMhxypKiRmc6"
                                  #captchaControl="ngModel" ></re-captcha>
                               
                               
                            </div>
                            <button type="submit"
                           
                            class="btn btn-success btn-block">Login</button>
                           
                            <a (click)="ForgetPwd()" class="btn btn-default btn-block">Help to login</a>
                       
                    </div>
                </div>
                <div class="col-xs-6">
                    <p class="lead">Register now for <span class="text-success">FREE FOREVER</span></p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span> Create Free Regsitration </li>
                        <li><span class="fa fa-check text-success"></span> Create Free Image Gallery</li>
                        <li><span class="fa fa-check text-success"></span> Send Free Message To other user </li>
                        <li><span class="fa fa-check text-success"></span> Access Free Message Log History </li>
                        <li><span class="fa fa-check text-success"></span> Share Free Contact Details and Phone Number</li>
                        <li><span class="fa fa-check text-success"></span> Own DashBoard </li>
                        <li><span class="fa fa-check text-success"></span> And Many More in Pipeline <small class="fa fa-smile-o" style="font-size:16px"> </small>
                            (Just Wait)</li>
                    </ul>
                    <p><a routerLink="/registerprofile/1" class="btn btn-info btn-block">Yes please, register now!</a></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</form>
        </div></div></div>