          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                  <h2 class="pull-left"> 
                    <span class="glyphicon glyphicon-list-alt"> 
                      </span> Communication Log </h2>
                </div>
            </div>
          </div>
            <div class="panel-body table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-center"> S.NO. </th>
                    <th class="text-left"> Name </th>
                    <th class="text-left"> Message </th>
                    <th class="text-left"> Communication Date </th>
                  </tr>
                </thead>
                <tbody *ngFor="let item of MessageData; let i=index">
                  <tr class="edit" id="detail">
                    <td id="no" class="text-center">    {{ i + 1 }} </td>
                    <td id="name" class="text-left"> {{item?.message_sender}} </td>
                    <td id="mobile" class="text-left"> {{item?.message}} </td>
                    <td id="mobile" class="text-left"> {{item?.message_send_date}} </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-10">
                  <md-dialog-actions>
                      <button md-raised-button md-dialog-close tabindex="-1">Back</button>
                  </md-dialog-actions>
                </div>
            </div>