<menubar></menubar>

<div style="padding: 20px 20% 0 20%; ">
<div class="chat_list">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of MessageData;">
            <div class="pull-left hidden-xs">
                <div>
                    <img class="img-circle" title="User1" alt="User1" 
                    data-src="holder.js/40x40/lava">                    
                </div>
            </div>
            <small class="pull-right text-muted"> {{item.message_send_date}} </small>
            <div>
                <small class="list-group-item-heading text-muted text-primary"> {{item.message_sender}} </small>
                <p class="list-group-item-text">
                    {{item.message}}
                </p>
            </div>
        </li>

        
    </ul>
</div>
</div>