<menubar></menubar><br>
<!--https://bootsnipp.com/snippets/VjVR 
https://bootsnipp.com/snippets/featured/simple-user-profile
-->

<!-- ******HEADER****** -->
 
<div class="container" >
    
      <div class="row" id="main">
            <div class="panel-body" id="leftPanel">
                <div class="row">
                    <div class="col-md-12">
                      <div>  <h2>{{userData?.FULL_NAME}}</h2> <p> 
                        Last Login: 
                        May 05,2014,03:00 pm </p>
                    <img src="http://lorempixel.com/200/200/abstract/1/" 
                    alt="Texto Alternativo" class="img-circle img-thumbnail">
                 
                        <h4>
                      About me and my education 
                        </h4>
                        <p>  {{userData?.ABOUT_ME}} . {{userData?.ABOUT_MY_EDUCATION}}
                      .</p>
                            <div class="btn-group">

                                <button type="button" class="btn btn-warning"
                                (click) = "GoToSocial(userData?.FACEBOOK_ID)">
                                    Link to facebook
                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                  </button> 
                                <button type="button" class="btn btn-warning"
                                (click) = "GoToSocial(userData?.TWITTER_ID)">
                                        Link to Twitter
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                </button>

                                <button type="button" class="btn btn-warning"
                                (click) = "GoToSocial(userData?.LINKEDIN_ID)">
                                        Link to Linkedin 
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </button>

                            </div>
                      </div>
                    </div>
                    </div>
                </div>
      </div>
</div>


<div class="container">
    <div class="row">
   
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
  
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">{{userData?.FULL_NAME}}</h3>
          </div>
          <div class="panel-body">
            <div class="row">
             
              <div class=" col-md-12 col-lg-12 "> 
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Age</td>
                      <td>{{userData?.CALCULATED_AGE}}</td>
                    </tr>
                    <tr>
                      <td>Date of Birth</td>
                      <td>{{userData?.DOB}}</td>
                    </tr>
                    <tr>
                        <td>Birth Time</td>
                        <td>{{userData?.TIME}}</td>
                      </tr>
                    <tr>
                        
                        <tr>
                            <td>Birth Place</td>
                            <td>{{userData?.MY_NATIVE_PLACE}}</td>
                          </tr>
                        <tr>
                      <td>Gender</td>
                      <td>{{userData?.GENDER}}</td>
                    </tr>
                    <tr>
                        <td>Religion</td>
                        <td>{{userData?.MY_RELIGION}}</td>
                    </tr>
                    <tr>
                        <td>Caste</td>
                        <td>{{userData?.MY_SUB_CASTE}}</td>
                      </tr>
                    <tr>
                      <td>Gotra</td>
                      <td>{{userData?.MY_GOTHRA}}</td>
                    </tr>
                    <tr>
                      <td>Rashi</td>
                      <td>{{userData?.MY_RASHI}}</td>
                    </tr>
                    <tr>
                        <td>Mother Tounge</td>
                        <td>{{userData?.MY_MOTHER_TOUNG}}</td>
                    </tr>
                      <tr>
                        <td>Country</td>
                        <td>{{userData?.COUNTRY}}</td>
                      </tr>
                      <tr>
                        <td>Currently Living City </td>
                        <td>{{userData?.CITY}}</td>
                      </tr>
                      <tr>
                        <td>Current Address</td>
                        <td>{{userData?.address}}</td>
                      </tr>
                      <tr>
                        <td>Weight/Height</td>
                        <td>{{userData?.WEIGHT}}Kg/{{userData?.HEIGHT}}inch </td>
                      </tr>
                     
                      <tr>
                          <td>My Profession</td>
                          <td>{{userData?.MY_WORK_STATUS}}</td>
                        </tr>
                        <tr>
                            <td>My Income Range</td>
                            <td>{{userData?.MY_MIN_INCOME}}</td>
                          </tr>
                  </tbody>
                </table>
                <div class="pull-right">
                    <a 
                       data-toggle="tooltip" (click)= "Message(userData)" type="button" 
                       class="btn btn-sm btn-primary">
                       Send Message
                      </a>
                  </div>
              </div>
            </div>
          </div>
             
          
        </div>
      </div>
    </div>
  </div>



  