<menubar></menubar><br>

<!-- ******HEADER****** -->
  <header class="header">
    <div class="container">
      <div class="teacher-name" style="padding-top:20px;">

        <div class="row" style="margin-top:0px;">
        <div class="col-md-9">
        
          <h2 style="font-size:38px"><strong>Full_Name</strong></h2>
        </div>
        <div class="col-md-3">
          <div class="button" style="float:right;">
            
          </div>
        </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-md-3"> <!-- Image -->
          <div class="gallery cf">
              <div>
         
            <img class="rounded-circle" 
            src="http://localhost/images/IMG_20170626_080945.jpg"
            alt="Photo gallery" style="width:200px;height:200px">
           

        </div>
       
      </div>
        </div>
 <a href="/#/Imagegallery"> view more
        </a>
        <div class="col-md-6"> <!-- Rank & Qualifications -->
          <h5 style="color:#3AAA64">About Profession,  <small>About_My_Profession</small></h5>
          <p style="color:#3AAA64">About Education, </p> About_my_Education
          <p style="color:#3AAA64">Residence, </p> City_Id + Country_Id
        </div>

        <div class="col-md-3 text-center"> <!-- Phone & Social -->
          <div class="button" style="padding-top:18px">
            <a href="/#/showInterest" class="btn btn-outline-success btn-block">Show Interest</a>
          </div>
         
        </div>
      </div>
    </div>
  </header>
    <!--End of Header-->

<!-- Main container -->
  <div class="container">

<!-- Section:Biography -->
  <div class="row">
        <div class="col-md-12">
          <div class="card card-block text-xs-left">
            <h2 class="card-title" style="color:#009688"><i class="fa fa-user fa-fw"></i>Biography</h2>
            <div style="height: 15px"></div>
              <p>
                Hello UserLoginName, My name is UserName. I am 35 year old. my date of birth is 25th April, 1979. I am unmerried. My height is 5.6 and my weight is 78kg.
                <br>
                I am a smoker and drinker. I am working in Govt Sector. 
                My Rashi is Khumb. 
              </p>
          </div>
        </div>
      </div>
<!-- End:Biography -->

<!--Section:Interests-->
  <div class="row">
    <div class="col-md-12">
        <div class="card card-block">
          <h2 class="card-title"  style="color:#009688"><i class="fa fa-rocket fa-fw"></i>Education</h2>
          <ul class="list-group" style="margin-top:15px;margin-bottom:15px;">
            <li class="list-group-item">Education details</li>
             </ul>
        </div>
    </div>
  </div>
<!-- End :Interests -->

<!-- Section:Awards -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
          <h2 class="card-title"  style="color:#009688"><i class="fa fa-rocket fa-fw"></i>Professional details</h2>
          <ul class="list-group" style="margin-top:15px;margin-bottom:15px;">
            <li class="list-group-item">Professional details</li>
            <li class="list-group-item">Salary Details</li>

             </ul>
        </div>
    </div>
  </div>
<!-- End:Awards -->


</div> <!--End of Container-->




