<menubar></menubar>
<!--https://bootsnipp.com/snippets/p1lVe-->

<div class="container">
		<div class="col-md-8">
	    
	    <h3>Main customers</h3>
	    
	    <table class="table table-condensed table-bordered table-hover small">
	        <thead>
					<tr>
							<th>My Pic</th>
							<th>Name</th>
						  <th>Date of birth</th>
						  <th>Religion</th> 
						  <th>Caste</th>
						 <th>Gotra</th>
					  <th>Profession</th>
					  <th>View Profile</th>
					</tr>
	        </thead>
	        <tbody *ngFor="let item of userData;">
	            <tr>
	                <td>
	                    <a href="#"></a>
	                 {{item.E_MAIL}}
	                </td>
	                <td>
							{{item.FULL_NAME}}
	                </td>
	                <td>
							{{item.DOB}}
	                </td>
	                <td>
							{{item.MY_RELIGION}}
	                </td>
	                <td>
							{{item.MY_SUB_CASTE}}
	                </td>
	                <td>{{item.MY_GOTHRA}}</td>
	                <td>
							{{item.MY_OCCUPTION}}
					</td>
					<td>
							<a (click)= "Viewdetail(item.E_MAIL)"> <i class="glyphicon glyphicon-eye-open"></i></a>
							<a (click)= "Viewdetail(item.E_MAIL)"> <i class="glyphicon glyphicon-arrow-right"></i> </a>
						</td>
	            </tr>
	        </tbody>
	    </table>
    </div></div>