.panel
{
  margin: 2%;
  background: transparent;
}


tr
{
  transition: all 0.5s;
}
tr:hover
{
  background-color: #f0ad4e;
  transition: 0.5s;
}
.btn-warning
{
  transition: all 0.8s;
}

.btn-warning:hover, .btn-warning:focus
{
  transition: 0.8s;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-footer
{
  background-color: #5bc0de;
  color: white;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



body {
  margin: 10px;
}