
<!--
http://valor-software.com/ngx-bootstrap/index-bs4.html#/alerts
<div class="container">
   <div  style="width:250px;margin:0px auto">
<alert  type="danger" dismissible="true">
  <div class="panel-heading">{{error}}</div>
</alert>
   </div></div>
 -->


 <div class="container">
    <div class="panel panel-primary" >
       <menubar></menubar>
       <div class="panel-heading">Update User Registration. Note: All fields are mandatory. </div>
       <div class="panel-body">
            
   <form  class="form-horizontal" id="reg_form">
 
       <legend> Basic information </legend>
    <fieldset>
         <div class="form-group" >
         <label class="col-md-4 control-label">First Name*</label>
         <div class="col-md-6  inputGroupContainer">
           <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
             <input placeholder="for eg sumit" class="form-control"  
             [ngModel]="basicUserDetails?.firstName" 
             (ngModelChange)="basicUserDetails.firstName = $event" name="firstName"
             type="text">
           </div>
           <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
             <div *ngIf="firstName.errors.required">
             <div class="alert-warning">
            <strong>Warning!</strong> First Name is required.
           </div> 
         </div>
         </div>
       </div>
      </div>
       <!-- Text input-->
           
       
    
       <!-- Button -->
       <div class="form-group">
         <label class="col-md-4 control-label"></label>
         <div class="col-md-4">
         status :  my form {{ this.myform.valid}}
         <!-- 
         <button   [disabled]="this.myform.invalid" type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
         -->
          <button type="submit" (click)="onSubmit(myform.value)" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
 
       <button (click)="gotoLogin(myform.value)" type="submit" 
                 class="btn btn-warning"> Back 
             <span class="glyphicon glyphicon-send"></span>
           </button>
         </div>
       </div>
     </fieldset>
   </form>
     </div>
   </div>
  </div>
 <div>
    
 </div>
   
 <!--
    <div style="margin-top: 20px" >
     <div>Form details:-</div>
     <pre>Is form valid?: <br>{{myform.valid | json}}</pre>
     <pre>Is form submitted?: <br>{{myform.submitted | json}}</pre>
     <pre>submitted value: <br>{{dob.formatted | json}}</pre>
     -->
     <pre>submitted value: <br>{{myform.value | json}}</pre>
   
  