<!--https://bootsnipp.com/snippets/Bqm1E-->


<div class="container">
        <div class="row" id="main">
        <div class="panel panel-success " >
            <menubar></menubar> 
			<form  class="form-horizontal"  [formGroup]="myform"  id="reg_form">
				<div class="messages" id="form-messages"></div>
				<div id="login-overlay" >
    <div class="panel panel-primary" style="width:750px;margin:0px auto">
    <div class="modal-content">
        <div class="modal-header">
             <h4 class="modal-title" id="myModalLabel">Contact us</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="well">
                     
                            <div class="form-group">
									<label for="form_name"> Name *</label>
									<input id="name" type="text" name="name" class="form-control" 
									placeholder="Please enter your Name *" 
									required autofocus
									data-error="Name is required.">
                            </div>
							
							<div class="form-group">
									<label for="form_email"> Email *</label>
									<input id="email" type="email" name="email" class="form-control" 
									placeholder="Please enter your email *"  required autofocus 
									data-error="Valid email is required.">
							</div>

							<div class="form-group">
									<label for="form_phone"> Phone*</label>
									<input id="phone" type="tel" name="phone"  class="form-control" 
									placeholder="Please enter your phone*"   required autofocus
									>
							</div>
							
							<div class="form-group">
									<label for="form_message"> Message *</label>
									<textarea id="form_message" 
									name="message" class="form-control" 
									placeholder="Message for me *" 
									rows="4" required="required" 
									data-error="Please,leave us a message."></textarea>
							</div>

                            <div id="loginErrorMsg" class="alert alert-error hide">Error</div>
							<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)" >		
							<div class="form-group">
                                <label class="control-label">
                                  </label>
                                  <re-captcha 
                                  [(ngModel)]="formModel.captcha"
                                  name="captcha"
                                  required
                                  siteKey="6LcZgCwUAAAAAPn1N1j7JD2ywG4LrMhxypKiRmc6"
                                  #captchaControl="ngModel" ></re-captcha>
							</div>
							</form>
							<button (click)="SendMessage(myform.value)" type="submit" 
							class="btn btn-warning"> Send message 
						<span class="glyphicon glyphicon-send"></span>
					</button>
                       
                    </div>
                </div>
                <div class="col-xs-6">
                    <p class="lead">Contact us @<span class="text-success"> Web Site Name</span></p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span> Web Site Name </li>
                        <li><span class="fa fa-check text-success"></span> Email Address</li>
                        <li><span class="fa fa-check text-success"></span> Phone number </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</form>
        </div></div></div>