<menubar></menubar>
<!--https://bootsnipp.com/snippets/p1lVe-->
<div class="container">
	
	<div class="row">
		<div class="main-header">Welcome ,  <span class="destaque"> {{ authService.currentUser.name }}</span></div>
	</div>
	<div class="col-md-3">
	    <div class="panel panel-info" >
          <div class="panel-heading" >
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-envelope-open fa-5x"></i>
              </div>
              <div class="col-xs-6 text-right" >  {{ RequestStatusCount?.TotalRequestSendCount }} 
                <p class="announcement-heading"  ></p>
                <p class="announcement-text">Request Send</p>
              </div>
            </div>
          </div>
					<a href="/#/messagehistory/1" (click)= "usermessage()">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
									<a href="/#/messagehistory/1"  (click)= "usermessage()">
									View Detail
									</a>
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
	</div>
	<div class="col-md-3">
	    <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-heart fa-5x"></i>
              </div>
							<div class="col-xs-6 text-right">
                <p class="announcement-heading">{{ RequestStatusCount?.TotalRequestReceivedCount }} </p>
                <p class="announcement-text">Request Received</p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  View Detail
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
	</div>	
	<div class="col-md-3">
	    <div class="panel panel-warning">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-heartbeat fa-5x"></i>
              </div>
							<div class="col-xs-6 text-right">
                <p class="announcement-heading">{{ RequestStatusCount?.TotalPendingResponseCount }}</p>
                <p class="announcement-text">Pending Request</p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  View Detail
                </div> 
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
	</div>		
	<div class="col-md-3">
	    <div class="panel panel-success">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <i class="fa fa-money fa-5x"></i>
              </div>
							<div class="col-xs-6 text-right">
                <p class="announcement-heading">{{ RequestStatusCount?.TotalRequestSendCount }}</p>
                <p class="announcement-text">Reject Request</p>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer announcement-bottom">
              <div class="row">
                <div class="col-xs-6">
                  View Detail
                </div>
                <div class="col-xs-6 text-right">
                  <i class="fa fa-arrow-circle-right"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
	</div>			

	<div  class="col-md-8">
		<h3>Messages</h3>
		<table class="table table-condensed table-bordered table-hover small">
				<thead>
					 <tr>
							 <th style="width:30px;">.</th>
							 <th>From</th>
							 <th>Status</th>
							 <th>Actions</th>
					 </tr>
				</thead>
				<tbody>
						<tr  class="text-info" *ngFor="let item of userData;">
								<td>
									 <i class="glyphicon glyphicon-info-sign"></i>
								</td>
								<td>
									{{item.name}}
								</td>
								<td>
									{{item.status}}
								</td>
								<td>
										<a href="/#/messagehistory" (click)= "Message()"> <i class="glyphicon glyphicon-eye-open"></i></a>
										<a href="/#/messagehistory" (click)= "Message()"> <i class="glyphicon glyphicon-arrow-right"></i> </a>
								</td>
						</tr>
					 
				</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<div id='grafico4' class="grafico" style="height: 400px;"></div>
</div>
</div>