 
   <form  class="form-horizontal"  [formGroup]="forgetpwd"  id="reg_form">
 <div class="container">
            <div class="panel panel-primary" style="width:665px;margin:0px">
              <div class="panel-heading">
                Forget Password!!!
              </div>

              <div class="panel-body">
      <div class="form-group">
          
              <label class="col-md-4 control-label"> Enter Registered Email ID*</label>
              <div class="col-md-6  inputGroupContainer">
                <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input formControlName="email" placeholder="E-Mail Address" 
                  class="form-control"  type="text"
                  >
                </div>
              <div *ngIf="email.errors && (email.dirty || email.touched) ">
                  <div *ngIf="email.errors.required">
                  <div class="alert-warning">
                 <strong>Warning!</strong> Please verify the Email Id communication purpose.
                </div>
              </div>
              </div>
              </div>
      </div>
       <div class="form-group has-feedback">
            <label  class="col-md-4 control-label">
                </label>
                 <div class="col-md-6  inputGroupContainer">
            <div class="input-group"> 
                <re-captcha formControlName="recaptcha"
                  name="recaptcha"
                  required 
                  siteKey="6LcZgCwUAAAAAPn1N1j7JD2ywG4LrMhxypKiRmc6"
                  ></re-captcha>
                  <div [hidden]="recaptcha.valid || recaptcha.pristine" class="error">Captcha must be solved</div>
                  
                <span class="glyphicon form-control-feedback"></span>
          <span class="help-block with-errors"></span>
       </div>
        </div>
       </div>


      </div>
     
       <div class="form-group">
    
          <div class="col-md-10">
           
          <md-dialog-actions>
              <button md-raised-button (click) ="SendMail(forgetpwd.value)" >Submit</button>
              <button md-raised-button md-dialog-close>Back</button>
          </md-dialog-actions>

        </div>
      </div>
</div>

</div>

</form>